article:last-of-type > section {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 4em;

	width: 50vw;
	height: 800px;

	/* background: rgba(255, 0, 0, 0.35) url("../img/paper.svg") no-repeat center
		center; */
	background: url("../img/paper.svg") no-repeat center center;
}

article:last-of-type > section > form {
	position: relative;
	top: 2em;
	left: 50%;
	transform: translateX(-50%);

	width: 17.5em;
	height: calc(800px - 5em);

	font-size: 1.5em;

	/* background-color: blue; */
}

article:last-of-type > section > form textarea {
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	margin-top: 2em;
	border: black 2px solid;
	border-radius: 10px;

	width: 90%;

	background: none;
}
