/* *************
DESK
************* */

article:last-of-type > div {
	position: absolute;

	width: 100vw;
	height: 100vh;
}

/* Countdown timer */
article:last-of-type > div > div {
	position: relative;
	top: 2em;
	left: 2em;
	transform: rotate(5deg);

	width: 20vw;
	height: 50vh;

	background: url("../img/phone.svg") no-repeat center center;
	background-size: contain;
}

article:last-of-type > div > div p {
	position: relative;
	top: 2em;

	font-family: var(--countdown-font);
	font-weight: 900;
	font-size: calc(1em + 1.5vw);
	text-align: center;
	text-indent: 0;
	color: var(--red);
}

/* pen */
article:last-of-type > div > img:first-of-type {
	position: absolute;
	bottom: 5em;
	left: calc(50% + 50vw / 2 - 2em);
	transform: translateX(-50%);

	height: 45vh;
}

/* *************
TASKS
************* */

article:last-of-type > section {
	position: absolute;
	top: 1em;
	left: 50%;
	transform: translateX(-50%);

	width: 50vw;
	height: 95vh;

	background: url("../img/paper.svg") no-repeat center center;
	background-size: contain;
}

article:last-of-type > section > form {
	position: relative;
	top: 2em;
	left: 50%;
	transform: translateX(-50%);

	width: 17.5em;
	height: calc(800px - 5em);

	font-size: 1.5em;
}

article:last-of-type > section > form textarea {
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	margin-top: 2em;
	border: black 2px solid;
	border-radius: 10px;

	width: 90%;
	min-height: 25em;

	background: none;
}

article:last-of-type > section > form label > img {
	width: 0.5em;
}

article:last-of-type > img:first-of-type {
	position: absolute;

	opacity: 0;
	z-index: 10;
	animation: fade-in 1s alternate 2 backwards;
}
