/* *************
DESK - STANDARD
************* */

article:last-of-type > div {
	position: absolute;

	width: 100vw;
	height: 100vh;
}

/* Countdown */
article:last-of-type > div > section:first-of-type > div {
	position: relative;
	top: 2em;
	left: 2em;
	transform: rotate(5deg);

	width: 20vw;
	height: 50vh;

	background: url("../img/phone.svg") no-repeat center center;
	background-size: contain;
}

article:last-of-type > div > section:first-of-type > div p {
	position: relative;
	top: 2em;

	font-family: var(--countdown-font);
	font-weight: 900;
	font-size: calc(1em + 1.5vw);
	text-align: center;
	text-indent: 0;
	color: var(--red);
}

/* pen */
article:last-of-type > div > section:first-of-type > img:first-of-type {
	position: absolute;
	bottom: 5em;
	left: calc(50% + 50vw / 2 - 2em);
	transform: translateX(-50%);

	height: 45vh;
}

/* lamp */
article:last-of-type > div > section:first-of-type > img:last-of-type {
	position: absolute;
	top: -15vh;
	right: -10vw;
	transform: rotate(-5deg);

	height: 75vh;

	z-index: 5;

	pointer-events: none;
}

/* *************
DESK - LIFE 1
************* */

article:last-of-type > div > section:nth-of-type(2) > img {
	position: absolute;
}

article:last-of-type > div > section:nth-of-type(2) > img:first-of-type {
	top: 5em;
	left: calc(2em + 20vw + 1em);
	transform: rotate(-2deg);

	height: 15vh;
}

article:last-of-type > div > section:nth-of-type(2) > img:nth-of-type(2) {
	top: 12.5em;
	right: calc(25vh - 2.5em);
	transform: rotate(-150deg);

	height: 25vh;
}

article:last-of-type > div > section:nth-of-type(2) > img:nth-of-type(3) {
	top: calc(2em + 50vh + 2em);
	left: 7.5em;
	transform: rotate(-5deg);

	height: 12.5vh;
}

article:last-of-type > div > section:nth-of-type(2) > img:last-of-type {
	top: 50vh;
	right: calc(25vh - 10em);

	height: 12.5vh;
}

/* *************
DESK - LIFE 2
************* */

article:last-of-type > div > section:nth-of-type(3) > img {
	position: absolute;
}

article:last-of-type > div > section:nth-of-type(3) > img:first-of-type {
	top: 10em;
	left: calc(2em + 20vw + 3em);
	transform: rotate(15deg);

	height: 15vh;
}

article:last-of-type > div > section:nth-of-type(3) > img:nth-of-type(2) {
	bottom: -15em;
	left: -2em;
	transform: rotate(65deg);

	height: 60vh;
}

article:last-of-type > div > section:nth-of-type(3) > img:last-of-type {
	top: 50vh;
	left: 20vw;
	transform: rotate(5deg);

	height: 17.5vh;
}

/* *************
DESK - LIFE 3
************* */

article:last-of-type > div > section:nth-of-type(4) > img {
	position: absolute;
}

article:last-of-type > div > section:nth-of-type(4) > img:first-of-type {
	top: 12em;
	left: calc(1em + 20vw);
	transform: rotate(-10deg);

	height: 15vh;
}

article:last-of-type > div > section:nth-of-type(4) > img:nth-of-type(2) {
	top: calc(50vh + 15em);
	left: calc(20vw + 5em);
	transform: rotate(-100deg);

	height: 10vh;
}

article:last-of-type > div > section:nth-of-type(4) > img:last-of-type {
	bottom: 7.5em;
	right: 10em;

	height: 20vh;
}

/* *************
TASKS
************* */

article:last-of-type > section {
	position: absolute;
	top: 1em;
	left: 50%;
	transform: translateX(-50%);

	width: 50vw;
	height: 95vh;

	background: url("../img/paper.svg") no-repeat center center;
	background-size: contain;
}

article:last-of-type > section > form {
	position: relative;
	top: 2em;
	left: 50%;
	transform: translateX(-50%);

	width: 17.5em;
	height: calc(800px - 5em);

	font-size: 1.5em;
}

article:last-of-type > section > form textarea {
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	margin-top: 2em;
	border: black 2px solid;
	border-radius: 10px;

	width: 90%;
	min-height: 25em;

	background: none;
}

article:last-of-type > section > form textarea:focus {
	border: var(--gold-light) 2px solid;

	outline: 5px solid var(--brown-light);
}

article:last-of-type > section > form label > img {
	width: 0.5em;
}

article:last-of-type > img:first-of-type {
	position: absolute;

	opacity: 0;
	z-index: 10;
	animation: fade-in 1s alternate 2 backwards;
}
