/* *************
ROOT + FONTS
************* */
@font-face {
	font-family: "Handlee";
	src: url("../font/Handlee/Handlee-Regular.ttf"), format("ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lobster";
	src: url("../font/Lobster/Lobster-Regular.ttf"), format("ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../font/Montserrat/Montserrat-VariableFont_wght.ttf"), format("ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Orbitron";
	src: url("../font/Orbitron/Orbitron-VariableFont_wght.ttf"), format("ttf");
	font-weight: normal;
	font-style: normal;
}

:root {
	/* colours */
	--black: #130d17;
	--overlay-black-75: rgba(0, 0, 0, 0.75);
	--white: #efefef;
	--paper: #ffe1bf;
	--gold-light: #e9cc7d;
	--gold-dark: #cbaa4f;
	--brown-light: #653c2a;
	--red: #cb4f4f;

	/* fonts */
	--heading-font: "Lobster", Optima, source-sans-pro, sans-serif;
	--text-font: "Montserrat", Optima, source-sans-pro, sans-serif;
	--task-font: "Handlee", Optima, source-sans-pro, sans-serif;
	--countdown-font: "Orbitron", Optima, source-sans-pro, serif;
}

/* *************
GENERAL STYLING
************* */

body {
	margin: 0;
	padding: 0;

	width: 100vw;
	height: 100vh;
	overflow: hidden;

	background-color: var(--black);
}

h1 {
	margin: 0.25em 0 0.5em 0;

	font-family: var(--heading-font);
	font-size: calc(2em + 0.5vw);
	text-align: center;
	color: var(--black);
}

h2 {
	margin: 0;

	font-family: var(--heading-font);
	font-size: calc(2em + 0.5vw);
	text-align: center;
	color: var(--white);
}

p {
	margin: 0;

	font-family: var(--text-font);
	font-size: calc(1em + 0.5vw);
	text-indent: 1em;
	color: var(--white);
}

li {
	font-family: var(--text-font);
	font-size: 1em;
	color: var(--black);
}

label,
textarea {
	font-family: var(--task-font);
}

button:hover {
	cursor: pointer;
}

/* Classlist related classes */
.hidden {
	display: none !important;
}

article:first-of-type > section div.active {
	box-shadow: 0 0 2em 0.5em var(--gold-light);

	background-color: var(--gold-light);

	animation: selected 0.75s ease-in-out;
}

.shake,
.blink {
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

.shake {
	animation-name: shake;
}

.blink {
	animation-name: blink;
}

/* *************
VISION LINK
************* */

main > section:first-of-type {
	position: fixed;
	top: 0;
	left: 0;

	border-radius: 0 0 100% 0;

	width: 7.5em;
	height: 7.5em;

	background-color: var(--gold-light);

	opacity: 0;
}

main > section:first-of-type:hover {
	width: 9em;
	height: 9em;

	transition: 0.5s ease-in-out;
	opacity: 1;
}

main > section:first-of-type > a {
	position: relative;
	top: 1.5em;
	left: 1em;

	font-size: 1.25em;
	font-family: var(--text-font);
	font-weight: bold;
	text-decoration: none;
	color: var(--black);
}

/* *************
NAVIGATION TO REALITY
************* */

footer {
	position: absolute;
	bottom: 0;

	border-radius: 100% 100% 0 0;

	width: 100vw;
	height: 10vh;

	background-color: var(--overlay-black-75);

	opacity: 0;
}

footer nav {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	left: 50%;
	transform: translateX(-50%);

	width: 50vw;
	height: 10vh;
}

footer nav img {
	width: 1em;
}

footer nav p {
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	color: var(--gold-light);
}

footer:hover {
	cursor: pointer;
	height: 12.5vh;

	opacity: 1;
	transition: 0.5s ease-in-out;
}

footer.blink:hover {
	animation: none; /* Disable blink animation on hover */
}

/* *************
LIVES
************* */

/* Game over arm */
article:last-of-type > img:last-of-type {
	position: absolute;
	bottom: -75vh;
	transform: translateX(-25vw);

	height: 175vh;

	z-index: 20;

	animation: swipe-arm 0.75s ease-in forwards;
}

article:last-of-type > section.lost,
article:last-of-type > div > section.lost {
	animation: swipe-article 0.75s ease-in forwards;
}

/* *************
ANIMATIONS
************* */
@keyframes swipe-article {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(110vw);
	}
}

@keyframes swipe-arm {
	0% {
		transform: translateX(-25vw);
	}
	100% {
		transform: translateX(100vw);
	}
}

@keyframes selected {
	0% {
		transform-origin: center;

		width: 1em;
		height: 1em;
	}
	50% {
		transform-origin: center;

		width: 1.5em;
		height: 1.5em;
	}
	100% {
		transform-origin: center;

		width: 1em;
		height: 1em;
	}
}

@keyframes shake {
	0% {
		transform: translateY(5px);
	}
	10% {
		transform: translateY(0px);
	}
	90% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(-15px);
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}
