/* *************
ROOT + FONTS
************* */
/* @font-face {
	font-family: "Cinzel";
	src: url("../font/Cinzel/Cinzel-VariableFont_wght.ttf"), format("ttf");
	font-weight: normal;
	font-style: normal;
} */

/* :root {
} */

/* *************
GENERAL STYLING
************* */

body {
	margin: 0;
	padding: 0;

	width: 100vw;
	height: 2352px;

	/* overflow: hidden; */

	/* background: linear-gradient(
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 50%,
		rgba(214, 248, 255, 1) 100%
	); */
	background: url("../img/background.jpg") no-repeat center top;
	background-size: cover;

	scroll-behavior: smooth;
}

/* #background-img {
	position: absolute;

	width: 100vw;
	height: 100%;

	background: url("../img/background.jpg") no-repeat center top;
	background-size: cover;

	z-index: -1;
} */

p {
	margin: 0;

	text-indent: 1em;
	font-size: calc(1em + 0.5vw);
	color: white;
}

/* Classlist related classes */
.hidden {
	display: none !important;
}

article:first-of-type div.active {
	background-color: red;
}

/* *************
LAY-OUT
************* */
article:first-of-type {
	height: 100vh;
}

article:last-of-type {
	height: 100vh;
}

/* *************
LIVES
************* */
main > section:first-of-type {
	display: flex;
	gap: 1em;

	position: absolute;
	top: 3vh;
	right: 3vw;
}

main > section:first-of-type div {
	width: 3em;
	height: 3em;

	border: 5px solid transparent;
	border-radius: 50%;

	background-color: red;
}

main > section:first-of-type div.loss {
	border: 5px solid red;
	background: none;
}
