/* *************
ROOT + FONTS
************* */
/* @font-face {
	font-family: "Cinzel";
	src: url("../font/Cinzel/Cinzel-VariableFont_wght.ttf"), format("ttf");
	font-weight: normal;
	font-style: normal;
} */

/* :root {
} */

/* *************
GENERAL STYLING
************* */

body {
	margin: 0;
	padding: 0;

	width: 100vw;
	height: 200vh;

	/* overflow: hidden; */

	background: linear-gradient(
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 50%,
		rgba(214, 248, 255, 1) 100%
	);

	scroll-behavior: smooth;
}

/* Classlist related classes */
.hidden {
	display: none;
}

/* *************
LAY-OUT
************* */
article:first-of-type {
	height: 100vh;
}

article:last-of-type {
	height: 100vh;
}
